[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
folium = "*"
plotly = "*"
flask-sqlalchemy = "*"
pandas = "*"
nest-asyncio = "*"

[requires]
python_version = "3.6"
